fastapi
uvicorn
langchain
langgraph
openai
langchain_chroma
pypdf
pandas
tiktoken
azure-identity
python-dotenv
langchain-text-splitters
langchain-core
langchain_openai 
langchain-community
PyJWT 
cryptography 
httpx
streamlit>=1.33.0
requests>=2.31.0